services:

  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
    ports:
      - "2181:2181"
    networks:
      - app-network

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092
      # Use localhost for local dev, kafka for production
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://${KAFKA_ADVERTISED_HOST:-localhost}:9092
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    networks:
      - app-network

  redis:
    image: redis
    ports:
      - "6379:6379"
    networks:
      - app-network

  # Backend for PRODUCTION (cloud deployment)
  backend-prod:
    profiles: ["production"]
    build: .
    container_name: backend
    depends_on:
      - kafka
      - redis
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      KAFKA_BROKER: kafka:9092
      REDIS_HOST: redis
      REDIS_PORT: 6379
    dns:
      - 8.8.8.8
      - 1.1.1.1
    networks:
      - app-network
    restart: always

  

  frontend:
    build: ../Frontend/clusterconnect-client
    ports:
      - "3000:80"
    depends_on:
      - redis
      - kafka
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

